
body{
    background-color: hsl(137, 25%, 51%);
    color: #24590e;
    text-align: center;
    font-size: 25px;
    padding: 0 20px;
 }

 .texto-um{
   color: #114021;
   font-size: 30px;

 }

 .texto-dois{
   color: #114021;
   font-size: 25px;
 }
 
  
.paragrafo{ 
font-size: 25px;
}

.rodape{
text-align: center;
display: grid;
font-size: 18px;
color: #329859;
}

.imagem{
width: 20%;
}
.imagem{
  width: 20%;
  }
